
<!--header section start -->
<div class="header_section">
    <div class="container-fluid">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a onclick="closeNav()" routerLink="/" >Home</a>
            <a onclick="closeNav()" routerLink="/formulaires/anneeScolaire" *ngIf="hasRpRole()" >Annee-scolaire</a>
            <a onclick="closeNav()" routerLink="/classes" *ngIf="hasRpRole()"> Classe </a>
            <a onclick="closeNav()" routerLink="/prof/professeur" *ngIf="hasRpRole()">Les Proffesseurs</a>
            <a onclick="closeNav()" routerLink="/prof" *ngIf="hasProf() && !hasRpRole()" >Mes cours</a>
           
        </div>
        <div class="header_taital_main">
            <span class="toggle_icon" onclick="openNav()"><img src="assets/images/toggle-icon.png"></span>
            <h6 class="call_text">
                <img src="assets/images/call-icon.png">
                <span class="padding_left_10">
                    <a href="#">Call : +01
                     1234567890
                    </a>
                </span>
                
            </h6>
            <div class="logo">
            <a href="index.html">
                <img src="assets/images/logo.png">
            </a></div>
            <h6 class="call_text"><img src="assets/images/mail-icon.png"><span class="padding_left_10"><a
                    href="">{{ photo }}</a></span></h6>
                    dd<img src="{{photo}}" alt="">
            <div class="login_text">
                <ul >
                 
                    <li  class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="assets/images/user-icon.png"></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" routerLink="/security/login" *ngIf="!isLoggedIn()" >login</a></li>
                            <li><a (click)="logout()" *ngIf="isLoggedIn()">logout</a></li>
                            
                            
                          </ul>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- header section end -->

