<!-- layout_bg section start -->
<div class="layout_bg">
    <!-- services section start -->

    <!-- services section end -->
    <!-- repair pool section start -->

    <!-- repair pool section end -->
    <!-- swiming section start -->

    <!-- swiming section end -->
    <!-- about section start -->
    <div class="about_section layout_padding">
        <div class="container">
            <div class="about_box">
                <section >

                   <!-- MultiStep Form -->
<div class="container-fluid" id="grad1">
    <div class="row justify-content-center mt-0">
      <div  class="d-flex justify-content-end ml-2">
        <a class=" text-white fs-5 border border-white" routerLink="/formulaires/anneeScolaire" >retour</a>
      </div>
     
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2><strong>creation d'un professeur</strong></h2>
                <p>Login</p>
                <div class="row">
                  
                    <div class="col-md-12 mx-0">
                      
                        <form id="msform" #addSalleForm="ngForm" (ngSubmit)="addSalleForm.valid && onAddProfesseur()">
                          <div class="form-group">
                            <!-- progressbar -->
                            <input type="text" class="form-control" #login="ngModel"id="login" [(ngModel)]="professeur.login" name="login" required [ngClass]="{'is-invalid':login.invalid && (login.dirty || login.touched),'is-valid':login.valid && (login.dirty || login.touched)}">   
                            <label for="">Mot de passe </label>
                            <input type="password" class="form-control" #password="ngModel"id="password" [(ngModel)]="professeur.password" name="password" required [ngClass]="{'is-invalid':password.invalid && (password.dirty || password.touched),'is-valid':password.valid && (password.dirty || password.touched)}">   
                            <label for="">Nom et Prenom </label>
                            <input type="text" class="form-control" #nom="ngModel"id="nom" [(ngModel)]="professeur.nom" name="nom" required [ngClass]="{'is-invalid':nom.invalid && (nom.dirty || nom.touched),'is-valid':nom.valid && (nom.dirty || nom.touched)}">   
                            <label for="">Grade </label>
                            
                            <input type="text" class="form-control" #nom="ngModel"id="grade" [(ngModel)]="professeur.grade" name="grade" required [ngClass]="{'is-invalid':nom.invalid && (nom.dirty || nom.touched),'is-valid':nom.valid && (nom.dirty || nom.touched)}">   
                            <label for="">Specialite </label>
                            <input type="text" class="form-control" #numero="ngModel"id="numero" [(ngModel)]="professeur.specialite" name="specialite" required [ngClass]="{'is-invalid':numero.invalid && (numero.dirty || numero.touched),'is-valid':numero.valid && (numero.dirty || numero.touched)}">   
                            
                            <div class="text-danger" *ngIf="nom.errors && (nom.dirty)">
                              <span *ngIf="nom.errors['required']">libelle est obligatoire</span>
                             
                            </div>                         
                            <br><br>
                          </div>
                            <button type="submit" class="btn btn-primary" [disabled]="addSalleForm.invalid">Valider</button>
                            <!-- fieldsets -->
                            <br><br>
                
                        </form>
                    </div>
                </div>
            </div>

        </div>
        
        <div  class="about_box" >
          <h3>la liste des professeurs</h3>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Photo</th>
              <th scope="col">Nom</th>
              <th scope="col">Grade</th>
              <th scope="col">Specialité</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr   *ngFor="let professeur of professeurs | paginate: { itemsPerPage: 3, currentPage: p }">
              <th scope="row">{{professeur.id}}</th>
              <th scope="row">
                <div class="circle-image">
                  <img src="{{professeur.photo}}" alt="{{professeur.id}}" width="100px">
                </div>
               
              </th>
              <td>{{professeur.nom}}</td>
              <td>{{professeur.grade}}</td>
              <td>{{professeur.specialite}}</td>
            
              <td>
                <a >les cours</a>
              </td>
            </tr>
            </tbody>
            
          </table>
          <ul class="text-center mt-8">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </ul>
          
         
          
        </div>
    </div>
</div>


                </section>

            </div>
        </div>
    </div>
    <!-- about section end -->
</div>
<!-- layout_bg section end -->




