
<!-- banner section start -->
<div class="banner_section layout_padding" >
    <div class="container">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h1 class="banner_taital">ISM</h1>
                    <h1 class="banner_taital_1">Digital Campus</h1>
                    <p class="banner_text">It is a long established fact that a reader will be distracted by the readable
                        c</p>
                    <div class="read_bt"><a href="#">Read More</a></div>
                </div>
                <div class="carousel-item">
                    <h1 class="banner_taital">ISM</h1>
                    <h1 class="banner_taital_1">Madiba</h1>
                    <p class="banner_text">It is a long established fact that a reader will be distracted by the readable
                        c</p>
                    <div class="read_bt"><a href="#">Read More</a></div>
                </div>
                <div class="carousel-item">
                    <h1 class="banner_taital">ISM</h1>
                    <h1 class="banner_taital_1">Ecole De Droit</h1>
                    <p class="banner_text">It is a long established fact that a reader will be distracted by the readable
                        c</p>
                    <div class="read_bt"><a href="#">Read More</a></div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- banner section end -->
<!-- call_box section start -->
<div class="call_box_section" >
    <div class="container">
        <div class="call_box_left">
            <div class="box_main">
                <div class="box_left">Call Now <br>For Clean</div>
                <div class="box_left padding_top_10"><a href="#">+01 1234567890</a></div>
            </div>
        </div>
        <div class="call_box_right">
            <div class="get_quote_bt"><a href="#">Get A Quote</a></div>
        </div>
    </div>
</div>
<!-- call_box section end -->
<!-- layout_bg section start -->
<div class="layout_bg">
    <!-- services section start -->

    <!-- services section end -->
    <!-- repair pool section start -->

    <!-- repair pool section end -->
    <!-- swiming section start -->

    <!-- swiming section end -->
    <!-- about section start -->
    <div class="about_section layout_padding">
        <div class="container">
            <img src="/assets/images/ism1.png" width="1300px" alt="">
        </div>
    </div>
    <!-- about section end -->
</div>
<!-- layout_bg section end -->

